@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.logo-container{
  width: 300px;
}

.separator{
  display: none;
  color: rgb(241, 211, 73);
}

.logo-container img{
  justify-content: center;
  display: flex;
  margin: auto;
  width: 200px;
  margin-bottom: 50px;
 
}

.sidebar {
  background-color: #1C1F34;
  justify-content: center;
  margin: auto;
  width: 300px;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar-content{
  margin-top: 100px;
}

.links a {
  display: block;
  color: rgb(252, 249, 249);
  padding: 16px;
  text-decoration: none;
  text-align: center;
}

.links p{
  justify-content: center;
  margin: auto;
  background-color: aliceblue;
  height: 2px;
  width: 180px;

}
 

.links a:hover:not(.active) {
  text-align: center;
  background-color: #c6ac5e;
  color: rgb(0, 0, 0);

  border-radius: 10px;
  width: 200px;
  justify-content: center;
  margin: auto;
}

/* Change content container color */

div.content {
  margin-left: 300px;
  padding: 1px 16px;
  background-color: #141432;
  overflow-x: hidden;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}

  .links{
    display: flex;
    flex-wrap: wrap;
  }

  .links a:hover:not(.active) {
    text-align: center;
    background-color: #c6ac5e;
    color: rgb(0, 0, 0);
    
    width: 100px;
    border-radius: 0px;
  }

  .logo-container{
    width: 100%;
  }

  .logo-container img{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100px;
    margin-bottom: 20px;
  }

  .links p{
    display: none;
  
  }
  .sidebar-content{
    margin-top: 50px;
  }
  .separator{
    display: block;
    justify-content: center;
    margin: auto;
  }
}

@media screen and (max-width: 400px) {


  .sidebar a {
    text-align: center;
    float: none;
  }

  .links a:hover {
    justify-content: center;
    margin: auto;
    text-align: center;
    background-color: #c6ac5e;
    width: 50px;
    color: rgb(0, 0, 0);
  }
  .links p{
    display: none;
  
  }
  .separator{
    display: none;
  }

  .links{
    display: block;
  }
}