div.content {
    margin-left: 300px;
    padding: 1px 16px;
    background-color: #09091c;
    overflow-x: hidden;
}

.dashboard{
    height: 100vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.dashboard-text{
    height: 15vh;
    width: 70vw;
    background-color: black;
    border-color: aliceblue;
    border-style: solid;
    margin-top: 60px;
}

.dashboard-text h1{
    color: aliceblue;
    position: relative;
    top: 5px;
    left: 50px;
}

.not-available{
    display: none;
}


/* GRID STYLE */
.container {  
    position: relative;
    top: 40px;
    width: 70vw;
    height: 100%;
    display: grid;
    grid-template-columns: 1.1fr 0.9fr 1fr;
    grid-template-rows: 0.4fr 1.6fr 0.8fr 0.8 0.8fr 0.8fr;
    gap: 15px 15px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header header"
      "electricity-consumption bar-graph bar-graph"
      "electricity-consumption bar-graph bar-graph"
      "electricity-consumption bar-graph bar-graph"
      "address-temperature bar-graph bar-graph"
      "address-temperature electricity-rate monthly-consumption";
      
  }
  
  .header { 
    grid-area: header; 
    border: solid 1px #424242;
    border-radius: 10px;
    background-image: url(../../../assets/img/banner2.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header>*{
    color: white;
    margin-right: 10px;
}

  .bar-graph { 
    grid-area: bar-graph;
    border: solid 1px #424242;
    border-radius: 10px;
    background-color: #141432;
    padding: 10px;
}
  
  .electricity-rate { 
    grid-area: electricity-rate; 
    border: solid 1px #424242;
    border-radius: 10px;
    background-color: #141432;
}
  
  .monthly-consumption { 
    grid-area: monthly-consumption; 
    border: solid 1px #424242;
    border-radius: 10px;
    background-color: #141432;
}
  
  .address-temperature { 
    grid-area: address-temperature; 
    border: solid 1px #424242;
    border-radius: 10px;
    background-color: #141432;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
  
  .electricity-consumption {
     grid-area: electricity-consumption; 
     border: solid 1px #424242;
     border-radius: 10px;
     background-color: #141432;
 }
  


@media screen and (max-width: 1090px) {
    .not-available{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    .not-available h1{
        font-weight: bold;
        color: rgb(8, 49, 78);
        text-align: center;
        font-family: "Poppins";
        font-style: italic;
        letter-spacing: 0.3rem;
    }
    .not-available p{
        color: white;
        text-align: center;
        font-style: italic;
    }

    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 4fr 2fr 2fr 2fr;
        grid-template-areas: 
          "header"
          "electricity-consumption"
          "bar-graph"
          "address-temperature"
          "electricity-rate"
          "monthly-consumption"
        ;
        margin-top: 20px;
        display: none;
    }

    .header { 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: none;
    }

    .dashboard-text{
       width: 500px;
       display: none;
    }

    .dashboard-text h1{
        color: aliceblue;
        text-align: center;
        position: relative;
        top: 5px;
        left: 0;
        display: none;
    }
    
}

@media screen and (max-width: 700px){
    div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {

    .dashboard-text{
        width: 300px;
        display: none;
     }
 

    .dashboard-text h1{
        color: aliceblue;
        text-align: center;
        position: relative;
        top: 5px;
        left: 0;
        display: none;
    }
}



/* ELECTRICITY CONSUMPTION STYLE */

.electricity-consumption{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.electricity-consumption-header{
    display: flex;
    align-items: center;
    width: 347.138px;
    height: 100px;
    justify-content: space-between;
}


.electricity-consumption-header i{
    position: relative;
    left: 40px;
}

.electricity-consumption-header-text{
    margin-left: 20px;
    text-align: center;
    color: white;
    font-size: 10px;
    font-style: italic;
}

.electricity-consumption-header-text p{
    color: #9586c0;
    font-style: italic;
}


/* PER MINUTE */

.per-minute-content{
    width: 170px;
    display: flex;
    align-items: center;
    background-color: #2d313b;
}

.per-minute{
    display: flex;
    border: solid 1px #8e8d8d;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 250px;
    height: 30px;
    margin: auto;
    margin-bottom: 10px;
}

.watts{
    color: white;
    font-size: 7px;
    width: 65px;
    margin-left: 10px;
}

.cost{
    display: flex;
    justify-content: space-between;
    width: 80px;
    color: white;
    font-size: 7px;
}

.cost h2{
    color: #9586c0;
}

.minute-label{
    display: flex;
    width: 80px;
    border-style:ridge;
    border-color: #141432;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #4f407a;
}

.minute-label label{
    color: white;
    margin: auto;
    font-style: italic;
    font-size: 10px;
}

/* PER HOUR */

.per-hour-content{
    width: 170px;
    display: flex;
    align-items: center;
    background-color: #2d313b;
}


.per-hour{
    display: flex;
    border: solid 1px #8e8d8d;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 250px;
    height: 30px;
    margin: auto;
}

.hour-label{
    display: flex;
    width: 80px;
    border-style:ridge;
    border-color: #141432;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #4f407a;
}

.hour-label label{
    color: white;
    margin: auto;
    font-style: italic;
    font-size: 10px;
}

.electricity-consumption-prediction{
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.electricity-consumption-prediction p{
    font-size: 10px;
    font-weight: lighter;
    color: white;
}

.cost-computed{
    display: flex;
    
}
.cost-computed h2{
    font-size: 10px;
    color: white;
}

/* ADDRESS TEMPERATURE */

.address-temperature-location{
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 3px;
}

.address-temperature-location i{
    margin-left: 60px;

}

.address-location-text{
    color: white;
    text-align: center;
}
.address-location-text h1{
    font-size: 16px;
    margin-bottom: 0px;
}
.address-location-text p{
    font-size: 10px;
    color: #9586c0;
}

.address-temperature-degree{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 60%;
    color: white;
    /* border: 2px solid red; */
}
.address-temperature-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
}
.address-temperature-text h1{
    font-size: 14px;
    font-style: italic;
}

.address-temp{
    display: flex;
   gap: 4px;
    align-items: center;
    justify-content: space-evenly;
   
}
.address-temp h1{
    font-size: 14px;
}
.address-temp p{
    font-size: 14px;
}

.icon-container{
    /* margin-left: 55px; */
    display: flex;
    flex-direction: column;
    width: 80px;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid blue;" */
}

.icon-container h1{
    text-align: center;
    font-size: 15px;
    /* margin-left: 10px; */
}

/* ELECTRICITY RATE */

.electricity-rate{
    display: flex;
    justify-content: center;
}

.electricity-rate-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 280px;
    margin-left: 20px;
}

.electricity-rate-text{
    margin-left: 20px;
}

.electricity-rate-text h1{
    font-size: 15px;
    color: #9586c0;
}
.electricity-rate-text p{
    font-size: 13px;
    font-weight: 100;
    color: white;
}


/* MONTHLY CONSUMPTION */

.monthly-consumption-text {
    display: flex;
    width: 300px;
    justify-content: space-evenly;
    align-items: center;
}

.monthly-consumption-text>*{
    margin-left: 35px;
}

.monthly-consumption-text h3{
    font-size: 14px;
    color: white;
    font-weight: 100;
}

.monthly-consumption-input{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5px;
}

.monthly-consumption-input h3{
    color: #9586c0;
    font-size: 10px;
    margin-left: 10px;
}

.input-group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 8px;
    background-color: #161616;
    border-radius: 8px;
    border: 2px solid #646464;
    height: 20px;
}

.input-group input{
    width: 120px;
    height: 20px;
    border: none;
    background-color: #161616;
    color: white;
}

.input-group .edit-btn{
    background-color: #09091c;
}

#myChart{
background-color: #09091c;
color: aliceblue;
width: 80%;
}

.mb-two{
    margin-bottom: 2rem;
}

.analytics{
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 12   px;
    font-weight: 600;
    color: aliceblue;
}