div.content {
    margin-left: 300px;
    padding: 1px 16px;
    background-color: #09091c;
    overflow-x: hidden;
}

.notification{
    height: 100vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.notification-text{
    height: 15vh;
    width: 70vw ;
    background-color: black;
    border-color: aliceblue;
    border-style: solid;
    margin-top: 60px;
}

.notification-text h1{
    color: aliceblue;
    position: relative;
    top: 5px;
    left: 50px;
}

*{
    color: aliceblue;
}

.notifs-cont{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background: white;
    align-items: center;
}

.notif-card{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 80%;
    padding: 0px 20px;
    margin-top: 1rem;
    background: green;
    border-radius: 12px;
    border: 2px solid blue;
}

.notif-header{
    display: flex;
    align-items: center;
    min-width: 100%;
    border: 1px solid red;
}
.notif-header p, button{
    margin-left: 10px;
    background: none;
}

.notif-details{
    display: none;
}

.notif-title{
    margin-right: auto;
}

.view-btn{

}


@media screen and (max-width: 700px) {
    .notification-text h1{
        color: aliceblue;
        text-align: center;
        position: relative;
        top: 5px;
        left: 0;
    }
    div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    .notification-text h1{
        color: aliceblue;
        text-align: center;
        position: relative;
        top: 5px;
        left: 0;
    }
}

